<a href="https://colab.research.google.com/github/erico-bachour/Fitness_Project/blob/main/Fitness_Project_1_Tratamento_dos_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Fitness Project - Erico Bachour**

## Visualização e Tratamento dos Dados

Para entender melhor a jornada, leia o README em minha página no GitHub (github.com/erico-bachour).

Nesse notebook, o objetivo será importar a base de dados exportada pelo applicativo Health, visualizá-la e tratá-la de maneira a formar uma nova base de dados. Assim, poderemos realizar visualizações e quem sabe regressões ou testar hipóteses a partir dos dados consolidados.

Além do aplicativo Health, usaremos também os dados de uma planilha de controle de peso.

##1. Visualização primária

Importando a base de dados e as bibliotecas essenciais para o tratamento da mesma.

In [203]:
import pandas as pd

In [204]:
!unzip -o '/content/drive/MyDrive/Fitness/export.zip' -d ./

Archive:  /content/drive/MyDrive/Fitness/export.zip
  inflating: ./apple_health_export/export.xml
  inflating: ./apple_health_export/export_cda.xml

In [205]:
path = 'apple_health_export/export.xml'

In [206]:
df = pd.read_xml(path)

Vamos ter uma primeira visualização da base de dados:

In [207]:
df.head()

,value,HKCharacteristicTypeIdentifierDateOfBirth,HKCharacteristicTypeIdentifierBiologicalSex,HKCharacteristicTypeIdentifierBloodType,HKCharacteristicTypeIdentifierFitzpatrickSkinType,HKCharacteristicTypeIdentifierCardioFitnessMedicationsUse,type,sourceName,sourceVersion,unit,...,dateComponents,activeEnergyBurned,activeEnergyBurnedGoal,activeEnergyBurnedUnit,appleMoveTime,appleMoveTimeGoal,appleExerciseTime,appleExerciseTimeGoal,appleStandHours,appleStandHoursGoal
0,2023-01-04 06:24:52 -0300,None,None,None,None,None,None,None,None,None,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
1,None,1990-11-12,HKBiologicalSexMale,HKBloodTypeNotSet,HKFitzpatrickSkinTypeNotSet,None,None,None,None,None,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
2,28.2,None,None,None,None,None,HKQuantityTypeIdentifierBodyMassIndex,Fitdays,1,count,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
3,28.6,None,None,None,None,None,HKQuantityTypeIdentifierBodyMassIndex,Fitdays,1,count,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
4,28.1,None,None,None,None,None,HKQuantityTypeIdentifierBodyMassIndex,Fitdays,1,count,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN

Resumo das colunas:

In [208]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 490395 entries, 0 to 490394
Data columns (total 30 columns):
 #   Column                                                     Non-Null Count   Dtype
---  ------                                                     --------------   -----
 0   value                                                      489945 non-null  object
 1   HKCharacteristicTypeIdentifierDateOfBirth                  1 non-null       object
 2   HKCharacteristicTypeIdentifierBiologicalSex                1 non-null       object
 3   HKCharacteristicTypeIdentifierBloodType                    1 non-null       object
 4   HKCharacteristicTypeIdentifierFitzpatrickSkinType          1 non-null       object
 5   HKCharacteristicTypeIdentifierCardioFitnessMedicationsUse  1 non-null       object
 6   type                                                       489944 non-null  object
 7   sourceName                                                 490244 non-null  object
 8   sourceVersion                                              490003 non-null  object
 9   unit                                                       485048 non-null  object
 10  creationDate                                               490244 non-null  object
 11  startDate                                                  490244 non-null  object
 12  endDate                                                    490244 non-null  object
 13  device                                                     245401 non-null  object
 14  MetadataEntry                                              0 non-null       float64
 15  workoutActivityType                                        300 non-null     object
 16  duration                                                   300 non-null     float64
 17  durationUnit                                               300 non-null     object
 18  WorkoutEvent                                               0 non-null       float64
 19  WorkoutStatistics                                          0 non-null       float64
 20  dateComponents                                             149 non-null     object
 21  activeEnergyBurned                                         149 non-null     float64
 22  activeEnergyBurnedGoal                                     149 non-null     float64
 23  activeEnergyBurnedUnit                                     149 non-null     object
 24  appleMoveTime                                              149 non-null     float64
 25  appleMoveTimeGoal                                          149 non-null     float64
 26  appleExerciseTime                                          149 non-null     float64
 27  appleExerciseTimeGoal                                      149 non-null     float64
 28  appleStandHours                                            149 non-null     float64
 29  appleStandHoursGoal                                        149 non-null     float64
dtypes: float64(12), object(18)
memory usage: 112.2+ MB

Excluindo colunas vazias e/ou que não serão úteis para a análise.

In [209]:
df.drop(columns = ['HKCharacteristicTypeIdentifierDateOfBirth',
       'HKCharacteristicTypeIdentifierBiologicalSex',
       'HKCharacteristicTypeIdentifierBloodType',
       'HKCharacteristicTypeIdentifierFitzpatrickSkinType', 'appleMoveTime', 'appleMoveTimeGoal',
       'appleExerciseTime', 'appleExerciseTimeGoal', 'appleStandHours',
       'appleStandHoursGoal', 'MetadataEntry', 'WorkoutEvent', 'WorkoutStatistics', 'HKCharacteristicTypeIdentifierCardioFitnessMedicationsUse', 'sourceVersion', 'device' ], inplace=True)

In [210]:
df.head()

,value,type,sourceName,unit,creationDate,startDate,endDate,workoutActivityType,duration,durationUnit,dateComponents,activeEnergyBurned,activeEnergyBurnedGoal,activeEnergyBurnedUnit
0,2023-01-04 06:24:52 -0300,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,None
1,None,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,None
2,28.2,HKQuantityTypeIdentifierBodyMassIndex,Fitdays,count,2021-11-28 13:18:04 -0300,2021-11-28 13:18:01 -0300,2021-11-28 13:18:01 -0300,None,NaN,None,None,NaN,NaN,None
3,28.6,HKQuantityTypeIdentifierBodyMassIndex,Fitdays,count,2021-11-28 22:07:32 -0300,2021-11-28 22:07:29 -0300,2021-11-28 22:07:29 -0300,None,NaN,None,None,NaN,NaN,None
4,28.1,HKQuantityTypeIdentifierBodyMassIndex,Fitdays,count,2021-11-29 08:18:57 -0300,2021-11-29 08:18:54 -0300,2021-11-29 08:18:54 -0300,None,NaN,None,None,NaN,NaN,None

In [211]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 490395 entries, 0 to 490394
Data columns (total 14 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   value                   489945 non-null  object
 1   type                    489944 non-null  object
 2   sourceName              490244 non-null  object
 3   unit                    485048 non-null  object
 4   creationDate            490244 non-null  object
 5   startDate               490244 non-null  object
 6   endDate                 490244 non-null  object
 7   workoutActivityType     300 non-null     object
 8   duration                300 non-null     float64
 9   durationUnit            300 non-null     object
 10  dateComponents          149 non-null     object
 11  activeEnergyBurned      149 non-null     float64
 12  activeEnergyBurnedGoal  149 non-null     float64
 13  activeEnergyBurnedUnit  149 non-null     object
dtypes: float64(3), object(11)
memory usage: 52.4+ MB

In [212]:
df.unit.value_counts()

km           136984
count/min     96202
Cal           89860
count         82157
%             20201
cm            17476
km/hr         17475
dBASPL        10743
g              7352
mg             5514
kg             1083
hr                1
Name: unit, dtype: int64

Descobrindo quais fontes de dados temos em nossa base de dados:

In [213]:
df.sourceName.value_counts()

iPhone           245668
Nike Run Club    122783
Mi Fitness       104852
MyFitnessPal      13968
Fitdays            1794
Clock              1169
Zepp Life             4
Health                4
FitPro                2
Name: sourceName, dtype: int64

## 2. Separação e Tratamento

Para facilitar o tratamento dos dados, a metodologia escolhida será de particionar a base de dados de acordo com a fonte de cada entrada, tornando mais fácil a manipulação do dado.

Como os lançamentos são feitos individualmente por cada aplicativo, o que faremos será: agrupar por aplicativo, tratar os dataframes separadamente, pivotar as linhas em colunas e finalmente reagrupá-lo usando a data como agregador em um novo DataFrame.

### 2.1. My Fitness Pal (Food Tracker)

Como esse é o aplicativo de "food tracking", vamos excluir as colunas de atividade física. Além disso, a granularidade dos dados que queremos é diária, assim, vamos excluir as informações de hora da coluna 'creationDate'.

In [214]:
myfitnesspal = df.loc[df['sourceName'] == 'MyFitnessPal']

In [215]:
myfitnesspal.drop(columns=['creationDate', 'endDate', 'duration','sourceName', 'durationUnit', 'dateComponents','activeEnergyBurned',\
                           'activeEnergyBurnedGoal','activeEnergyBurnedGoal','workoutActivityType', 'activeEnergyBurnedUnit'], inplace=True)
myfitnesspal.startDate = pd.to_datetime(myfitnesspal['startDate']).dt.strftime('%Y-%m-%d')

myfitnesspal.head()

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/usr/local/lib/python3.8/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

       value                              type unit   startDate
722  78.5001  HKQuantityTypeIdentifierBodyMass   kg  2022-06-26
724     78.3  HKQuantityTypeIdentifierBodyMass   kg  2022-06-27
734  77.4999  HKQuantityTypeIdentifierBodyMass   kg  2022-06-28
751  80.0001  HKQuantityTypeIdentifierBodyMass   kg  2022-07-05
755  78.7999  HKQuantityTypeIdentifierBodyMass   kg  2022-07-19

In [216]:
myfitnesspal = myfitnesspal.rename(columns={
    'value': 'valor',
    'type': 'tipo',
    'startDate': 'data',
    'unit': 'unidade' 
})
myfitnesspal.head()

       valor                              tipo unidade        data
722  78.5001  HKQuantityTypeIdentifierBodyMass      kg  2022-06-26
724     78.3  HKQuantityTypeIdentifierBodyMass      kg  2022-06-27
734  77.4999  HKQuantityTypeIdentifierBodyMass      kg  2022-06-28
751  80.0001  HKQuantityTypeIdentifierBodyMass      kg  2022-07-05
755  78.7999  HKQuantityTypeIdentifierBodyMass      kg  2022-07-19

Descobrindo os tipos de lançamentos que o My Fitness Pal faz:

In [217]:
myfitnesspal['tipo'].value_counts()

HKQuantityTypeIdentifierDietaryFatTotal              919
HKQuantityTypeIdentifierDietaryFatPolyunsaturated    919
HKQuantityTypeIdentifierDietaryFatMonounsaturated    919
HKQuantityTypeIdentifierDietaryFatSaturated          919
HKQuantityTypeIdentifierDietaryCholesterol           919
HKQuantityTypeIdentifierDietarySodium                919
HKQuantityTypeIdentifierDietaryCarbohydrates         919
HKQuantityTypeIdentifierDietaryFiber                 919
HKQuantityTypeIdentifierDietarySugar                 919
HKQuantityTypeIdentifierDietaryEnergyConsumed        919
HKQuantityTypeIdentifierDietaryProtein               919
HKQuantityTypeIdentifierDietaryVitaminC              919
HKQuantityTypeIdentifierDietaryCalcium               919
HKQuantityTypeIdentifierDietaryIron                  919
HKQuantityTypeIdentifierDietaryPotassium             919
HKQuantityTypeIdentifierBodyMass                     183
Name: tipo, dtype: int64

Para efeitos de análise, vamos ficar com somente quatro elementos: Calorias, Proteínas, Carboidratos e Gorduras Totais.

Vamos substituir os nomes das entradas com nomes mais simples, traduzidos e com as devidas unidades especificadas.

Assim, podemos excluir a coluna 'unidade'.

In [218]:
myfitnesspal = myfitnesspal[myfitnesspal['tipo'].isin(['HKQuantityTypeIdentifierDietaryEnergyConsumed', 'HKQuantityTypeIdentifierDietaryFatTotal',\
                                                       'HKQuantityTypeIdentifierDietaryCarbohydrates', 'HKQuantityTypeIdentifierDietaryProtein'])]
myfitnesspal.tipo.value_counts()

HKQuantityTypeIdentifierDietaryFatTotal          919
HKQuantityTypeIdentifierDietaryCarbohydrates     919
HKQuantityTypeIdentifierDietaryEnergyConsumed    919
HKQuantityTypeIdentifierDietaryProtein           919
Name: tipo, dtype: int64

In [219]:
myfitnesspal.tipo = myfitnesspal.tipo.map({
    'HKQuantityTypeIdentifierDietaryEnergyConsumed': 'Calorias Consumidas (kcal)',
    'HKQuantityTypeIdentifierDietaryFatTotal': 'Gorduras (g)',
    'HKQuantityTypeIdentifierDietaryCarbohydrates': 'Carboidratos (g)',
    'HKQuantityTypeIdentifierDietaryProtein': 'Proteinas (g)' 
})

myfitnesspal.drop(columns='unidade', inplace=True)

myfitnesspal.head()

          valor          tipo        data
405799        0  Gorduras (g)  2022-06-27
405800  37.4399  Gorduras (g)  2022-06-27
405801        0  Gorduras (g)  2022-06-27
405802      7.4  Gorduras (g)  2022-06-27
405803  30.9899  Gorduras (g)  2022-06-27

Para que possamos agregar os valores diários, vamos tratar a coluna 'valor' para que eles possam ser somados.

In [220]:
myfitnesspal['valor'] = pd.to_numeric(myfitnesspal['valor']).round(0)
myfitnesspal = myfitnesspal.groupby(['data','tipo']).agg({'valor': 'sum'})
myfitnesspal.tail(4)

                                       valor
data       tipo
2023-01-04 Calorias Consumidas (kcal)  468.0
           Carboidratos (g)             30.0
           Gorduras (g)                 15.0
           Proteinas (g)                50.0

Com o dataset agregado, vamos pivotar para deixa-lo pronto para a futura reunião.

In [221]:
myfitnesspal = myfitnesspal.reset_index()
myfitnesspal = myfitnesspal.pivot(index='data',columns= 'tipo', values='valor')
myfitnesspal = myfitnesspal.reset_index()
myfitnesspal.tail(4)

tipo,data,Calorias Consumidas (kcal),Carboidratos (g),Gorduras (g),Proteinas (g)
186,2023-01-01,2246.0,187.0,77.0,189.0
187,2023-01-02,2259.0,176.0,79.0,201.0
188,2023-01-03,3343.0,268.0,101.0,202.0
189,2023-01-04,468.0,30.0,15.0,50.0

###2.2. Mi Fitness (Fitness Tracker)

In [222]:
mifitness = df.loc[df['sourceName'] == 'Mi Fitness']

In [223]:
mifitness.drop(columns=['startDate', 'endDate', 'duration','unit', 'sourceName', 'durationUnit',\
                        'workoutActivityType', 'dateComponents','activeEnergyBurned',\
                        'activeEnergyBurnedGoal','activeEnergyBurnedUnit'], inplace=True)
mifitness.creationDate = pd.to_datetime(mifitness['creationDate']).dt.strftime('%Y-%m-%d')

mifitness.head(2)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/usr/local/lib/python3.8/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

     value                               type creationDate
1129    61  HKQuantityTypeIdentifierHeartRate   2022-08-10
1130    64  HKQuantityTypeIdentifierHeartRate   2022-08-10

In [224]:
mifitness = mifitness.rename(columns={
    'value': 'valor',
    'type': 'tipo',
    'creationDate': 'data'
})
mifitness.head(2)

     valor                               tipo        data
1129    61  HKQuantityTypeIdentifierHeartRate  2022-08-10
1130    64  HKQuantityTypeIdentifierHeartRate  2022-08-10

In [225]:
mifitness['tipo'].value_counts()

HKQuantityTypeIdentifierHeartRate                 96202
HKQuantityTypeIdentifierActiveEnergyBurned         3279
HKQuantityTypeIdentifierStepCount                  2559
HKCategoryTypeIdentifierSleepAnalysis              2290
HKQuantityTypeIdentifierDistanceWalkingRunning      261
Name: tipo, dtype: int64

Para efeito de análise, vamos excluir os lançamentos de medição cardíaca, de sono e distância percorrida. Ficaremos somente com os de gasto energético e passos dados.

In [226]:
mifitness = mifitness[mifitness['tipo'].isin(['HKQuantityTypeIdentifierActiveEnergyBurned', 'HKQuantityTypeIdentifierStepCount',\
                                             'HKQuantityTypeIdentifierDistanceWalkingRunning'])]
mifitness.tipo.value_counts()

HKQuantityTypeIdentifierActiveEnergyBurned        3279
HKQuantityTypeIdentifierStepCount                 2559
HKQuantityTypeIdentifierDistanceWalkingRunning     261
Name: tipo, dtype: int64

In [227]:
mifitness.tipo = mifitness.tipo.map({
    'HKQuantityTypeIdentifierActiveEnergyBurned': 'Calorias Gastas (kcal)',
    'HKQuantityTypeIdentifierStepCount': 'Passos Dados'
})

mifitness.head()

       valor          tipo        data
167882  2985  Passos Dados  2022-08-10
167889   500  Passos Dados  2022-08-10
167894   559  Passos Dados  2022-08-10
167895  1462  Passos Dados  2022-08-10
167896    45  Passos Dados  2022-08-10

Com a limpeza feita, vamos partir para agrupar e pivotear o DataFrame.

In [228]:
mifitness['valor'] = pd.to_numeric(mifitness['valor']).round(0)
mifitness = mifitness.groupby(['data','tipo']).agg({'valor': 'sum'})

In [229]:
mifitness = mifitness.reset_index()
mifitness = mifitness.pivot(index='data',columns= 'tipo', values='valor')
mifitness = mifitness.reset_index()
mifitness.tail(4)

tipo        data  Calorias Gastas (kcal)  Passos Dados
139   2023-01-01                  1035.0       15111.0
140   2023-01-02                   739.0       13986.0
141   2023-01-03                  1216.0       17754.0
142   2023-01-04                     NaN          36.0

###2.3. Fitdays (Balança de Bioimpedância)

Como padrão, desde o início do projeto meu peso é auferido após acordar e fazer as necessidades. Assim, a variável "tempo" não é necessária, assim como outras colunas do DataFrame.

In [230]:
fitdays = df.loc[df['sourceName'] == 'Fitdays']

In [231]:
fitdays.head(2)

,value,type,sourceName,unit,creationDate,startDate,endDate,workoutActivityType,duration,durationUnit,dateComponents,activeEnergyBurned,activeEnergyBurnedGoal,activeEnergyBurnedUnit
2,28.2,HKQuantityTypeIdentifierBodyMassIndex,Fitdays,count,2021-11-28 13:18:04 -0300,2021-11-28 13:18:01 -0300,2021-11-28 13:18:01 -0300,None,NaN,None,None,NaN,NaN,None
3,28.6,HKQuantityTypeIdentifierBodyMassIndex,Fitdays,count,2021-11-28 22:07:32 -0300,2021-11-28 22:07:29 -0300,2021-11-28 22:07:29 -0300,None,NaN,None,None,NaN,NaN,None

In [232]:
fitdays.drop(columns=['startDate', 'endDate', 'duration','unit', 'sourceName', 'durationUnit',\
                        'workoutActivityType', 'dateComponents','activeEnergyBurned',\
                        'activeEnergyBurnedGoal','activeEnergyBurnedUnit'], inplace=True)
fitdays.creationDate = pd.to_datetime(fitdays['creationDate']).dt.strftime('%Y-%m-%d')

fitdays.head(2)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/usr/local/lib/python3.8/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

  value                                   type creationDate
2  28.2  HKQuantityTypeIdentifierBodyMassIndex   2021-11-28
3  28.6  HKQuantityTypeIdentifierBodyMassIndex   2021-11-28

In [233]:
fitdays = fitdays.rename(columns={
    'value': 'valor',
    'type': 'tipo',
    'creationDate': 'data'
})
fitdays.head(2)

  valor                                   tipo        data
2  28.2  HKQuantityTypeIdentifierBodyMassIndex  2021-11-28
3  28.6  HKQuantityTypeIdentifierBodyMassIndex  2021-11-28

In [234]:
fitdays.tipo.value_counts()

HKQuantityTypeIdentifierBodyMassIndex        471
HKQuantityTypeIdentifierBodyMass             467
HKQuantityTypeIdentifierBodyFatPercentage    428
HKQuantityTypeIdentifierLeanBodyMass         428
Name: tipo, dtype: int64

Vamos excluir algumas entradas irrelevantes como IMC (ou BMI, em inglês) e frequência cardíaca.

In [235]:
fitdays = fitdays[fitdays['tipo'].isin(['HKQuantityTypeIdentifierBodyMass', 'HKQuantityTypeIdentifierBodyFatPercentage',\
                                             'HKQuantityTypeIdentifierLeanBodyMass'])]
fitdays.tipo.value_counts()

HKQuantityTypeIdentifierBodyMass             467
HKQuantityTypeIdentifierBodyFatPercentage    428
HKQuantityTypeIdentifierLeanBodyMass         428
Name: tipo, dtype: int64

Renomeando as entradas

In [236]:
fitdays.tipo = fitdays.tipo.map({
    'HKQuantityTypeIdentifierBodyMass': 'Peso (kg)',
    'HKQuantityTypeIdentifierBodyFatPercentage': '%Gordura',
    'HKQuantityTypeIdentifierLeanBodyMass': 'Massa Magra (kg)'
})

fitdays.head(10)

    valor       tipo        data
477  85.5  Peso (kg)  2021-11-28
478    85  Peso (kg)  2021-11-29
479  84.9  Peso (kg)  2021-11-30
480  85.4  Peso (kg)  2021-12-01
481  85.1  Peso (kg)  2021-12-02
482  84.8  Peso (kg)  2021-12-03
483  84.8  Peso (kg)  2021-12-04
484  85.7  Peso (kg)  2021-12-05
485  86.1  Peso (kg)  2021-12-06
486  85.7  Peso (kg)  2021-12-07

Como temos algumas entradas repetidas vamos ficar somente com as primeiras medições

In [237]:
fitdays.drop_duplicates(subset=["data", "tipo"], keep='last', inplace=True)
fitdays.head()

    valor       tipo        data
477  85.5  Peso (kg)  2021-11-28
478    85  Peso (kg)  2021-11-29
479  84.9  Peso (kg)  2021-11-30
480  85.4  Peso (kg)  2021-12-01
481  85.1  Peso (kg)  2021-12-02

Com os tratamentos feitos, passemos para a parte de agregação e pivoteamento

In [238]:
fitdays['data'] = pd.to_datetime(fitdays['data'])
fitdays['valor'] = pd.to_numeric(fitdays['valor'])

In [239]:
fitdays.set_index('data')

              valor              tipo
data
2021-11-28  85.5000         Peso (kg)
2021-11-29  85.0000         Peso (kg)
2021-11-30  84.9000         Peso (kg)
2021-12-01  85.4000         Peso (kg)
2021-12-02  85.1000         Peso (kg)
...             ...               ...
2022-12-30  57.2290  Massa Magra (kg)
2022-12-31  57.6032  Massa Magra (kg)
2023-01-01  57.6810  Massa Magra (kg)
2023-01-02  57.5320  Massa Magra (kg)
2023-01-03  57.3045  Massa Magra (kg)

[1159 rows x 2 columns]

In [240]:
fitdays.groupby(['data','tipo']).agg({'valor':'sum'})

                               valor
data       tipo
2021-11-28 %Gordura           0.4060
           Massa Magra (kg)  51.4998
           Peso (kg)         85.5000
2021-11-29 %Gordura           0.2820
           Massa Magra (kg)  60.8864
...                              ...
2023-01-02 Massa Magra (kg)  57.5320
           Peso (kg)         76.0000
2023-01-03 %Gordura           0.2450
           Massa Magra (kg)  57.3045
           Peso (kg)         75.9000

[1159 rows x 1 columns]

In [241]:
fitdays = fitdays.reset_index()
fitdays = fitdays.pivot(index='data',columns= 'tipo', values='valor')
fitdays = fitdays.reset_index()
fitdays.tail(4)

tipo       data  %Gordura  Massa Magra (kg)  Peso (kg)
383  2022-12-31     0.248           57.6032       76.6
384  2023-01-01     0.246           57.6810       76.5
385  2023-01-02     0.243           57.5320       76.0
386  2023-01-03     0.245           57.3045       75.9

#### 2.3.1. Ajuste nas colunas

Ajustando a coluna "%Gordura": além da multiplicação por 100, vamos corrigir uma falha do equipamento. Isso acontece pois ele so possui 4 eletrodos, ambos nos pés. Dessa forma, a corrente elétrica responsável pela medição acaba passando somente pelas pernas, dificultando uma medição mais precisa. 

Após uma avaliação visual e com ajuda de uma tabela de referência, vamos, arbitráriamente, reduzir uniformemente o valor de '%Gordura" para todas as entradas em 8%. 

No que se refere a peso, em comparação com outras balanças, o modelo atual não difere muito. Assim, não haverá nenhum ajuste na coluna "Peso (kg)".

Na coluna "Massa Magra (kg)" haverá somente um arredondamento.

In [242]:
fitdays['%Gordura'] = fitdays['%Gordura'] * 100 - 8
fitdays['Massa Magra (kg)'] = fitdays['Massa Magra (kg)'].round(1)

In [243]:
fitdays.head()

tipo       data  %Gordura  Massa Magra (kg)  Peso (kg)
0    2021-11-28      32.6              51.5       85.5
1    2021-11-29      20.2              60.9       85.0
2    2021-11-30      20.4              60.8       84.9
3    2021-12-01      20.6              61.0       85.4
4    2021-12-02      20.5              60.8       85.1

Analisando a primeira linha, os dados de '%gordura' e 'Massa Magra' estão discrepantes com o restante das entradas. Isso foi causado por uma falha na leitura por parte da balança por ser a primeira vez na qual estava me pesando.

In [244]:
fitdays.drop(index=0, axis=1, inplace=True)
fitdays = fitdays.reset_index()
fitdays.drop(columns='index', axis=0, inplace=True)
fitdays.head()

tipo       data  %Gordura  Massa Magra (kg)  Peso (kg)
0    2021-11-29      20.2              60.9       85.0
1    2021-11-30      20.4              60.8       84.9
2    2021-12-01      20.6              61.0       85.4
3    2021-12-02      20.5              60.8       85.1
4    2021-12-03      20.4              60.7       84.8

### 2.4. Zepp Life

A partir do dia 04/01/2022, a auferição de bioimpedância passou a ser feita com uma balança Xiaomi Body Composition 2. Assim, os dados passaram a ser compilados pelo aplicativo Zepp Life.

Como os dados são exportados de maneira similar ao aplicativo Fitdays, o tratamento dispensado a eles será similar. Assim, não haverá muita explicação sobre a lógica nessa etapa.

In [245]:
zepplife = df.loc[df['sourceName'] == 'Zepp Life']

In [246]:
zepplife.head(4)

,value,type,sourceName,unit,creationDate,startDate,endDate,workoutActivityType,duration,durationUnit,dateComponents,activeEnergyBurned,activeEnergyBurnedGoal,activeEnergyBurnedUnit
473,25.2,HKQuantityTypeIdentifierBodyMassIndex,Zepp Life,count,2023-01-04 05:29:39 -0300,2023-01-04 05:29:33 -0300,2023-01-04 05:29:33 -0300,None,NaN,None,None,NaN,NaN,None
1126,76.4,HKQuantityTypeIdentifierBodyMass,Zepp Life,kg,2023-01-04 05:29:39 -0300,2023-01-04 05:29:33 -0300,2023-01-04 05:29:33 -0300,None,NaN,None,None,NaN,NaN,None
97759,0.231,HKQuantityTypeIdentifierBodyFatPercentage,Zepp Life,%,2023-01-04 05:29:39 -0300,2023-01-04 05:29:33 -0300,2023-01-04 05:29:33 -0300,None,NaN,None,None,NaN,NaN,None
98188,58.8,HKQuantityTypeIdentifierLeanBodyMass,Zepp Life,kg,2023-01-04 05:29:39 -0300,2023-01-04 05:29:33 -0300,2023-01-04 05:29:33 -0300,None,NaN,None,None,NaN,NaN,None

In [247]:
zepplife.drop(columns=['startDate', 'endDate', 'duration','unit', 'sourceName', 'durationUnit',\
                        'workoutActivityType', 'dateComponents','activeEnergyBurned',\
                        'activeEnergyBurnedGoal','activeEnergyBurnedUnit'], inplace=True)
zepplife.creationDate = pd.to_datetime(zepplife['creationDate']).dt.strftime('%Y-%m-%d')

zepplife.head(2)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/usr/local/lib/python3.8/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

     value                                   type creationDate
473   25.2  HKQuantityTypeIdentifierBodyMassIndex   2023-01-04
1126  76.4       HKQuantityTypeIdentifierBodyMass   2023-01-04

In [248]:
zepplife = zepplife.rename(columns={
    'value': 'valor',
    'type': 'tipo',
    'creationDate': 'data'
})
zepplife.head(2)

     valor                                   tipo        data
473   25.2  HKQuantityTypeIdentifierBodyMassIndex  2023-01-04
1126  76.4       HKQuantityTypeIdentifierBodyMass  2023-01-04

In [249]:
zepplife = zepplife[zepplife['tipo'].isin(['HKQuantityTypeIdentifierBodyMass', 'HKQuantityTypeIdentifierBodyFatPercentage',\
                                             'HKQuantityTypeIdentifierLeanBodyMass'])]
zepplife.tipo.value_counts()

HKQuantityTypeIdentifierBodyMass             1
HKQuantityTypeIdentifierBodyFatPercentage    1
HKQuantityTypeIdentifierLeanBodyMass         1
Name: tipo, dtype: int64

In [250]:
zepplife.tipo = zepplife.tipo.map({
    'HKQuantityTypeIdentifierBodyMass': 'Peso (kg)',
    'HKQuantityTypeIdentifierBodyFatPercentage': '%Gordura',
    'HKQuantityTypeIdentifierLeanBodyMass': 'Massa Magra (kg)'
})

zepplife.head(10)

       valor              tipo        data
1126    76.4         Peso (kg)  2023-01-04
97759  0.231          %Gordura  2023-01-04
98188   58.8  Massa Magra (kg)  2023-01-04

In [251]:
zepplife['data'] = pd.to_datetime(zepplife['data'])
zepplife['valor'] = pd.to_numeric(zepplife['valor'])

In [252]:
zepplife.set_index('data')

             valor              tipo
data
2023-01-04  76.400         Peso (kg)
2023-01-04   0.231          %Gordura
2023-01-04  58.800  Massa Magra (kg)

In [253]:
zepplife.groupby(['data','tipo']).agg({'valor':'sum'})

                              valor
data       tipo
2023-01-04 %Gordura           0.231
           Massa Magra (kg)  58.800
           Peso (kg)         76.400

In [254]:
zepplife = zepplife.reset_index()
zepplife = zepplife.pivot(index='data',columns= 'tipo', values='valor')
zepplife = zepplife.reset_index()
zepplife.tail(4)

tipo       data  %Gordura  Massa Magra (kg)  Peso (kg)
0    2023-01-04     0.231              58.8       76.4

#### 2.4.1. Ajuste nas colunas

Assim como no aplicativo Fitdays, vamos ter que fazer alguns ajustes devido a falhas na medição.

In [255]:
zepplife['%Gordura'] = zepplife['%Gordura'] * 100 - 7
zepplife['Massa Magra (kg)'] = zepplife['Massa Magra (kg)'].round(1)
zepplife.tail(4)

tipo       data  %Gordura  Massa Magra (kg)  Peso (kg)
0    2023-01-04      16.1              58.8       76.4

###2.5. Nike Run (Corridas)

Antes de adquirir a Xiaomi Smart Band 7 Pro, o registro dos aeróbicos era feito com o aplicativo Nike Run Club

In [256]:
nike = df.loc[df['sourceName'] == 'Nike Run Club']

In [257]:
nike.head(2)

,value,type,sourceName,unit,creationDate,startDate,endDate,workoutActivityType,duration,durationUnit,dateComponents,activeEnergyBurned,activeEnergyBurnedGoal,activeEnergyBurnedUnit
226983,0.00288,HKQuantityTypeIdentifierDistanceWalkingRunning,Nike Run Club,km,2021-01-06 18:35:10 -0300,2021-01-06 17:22:04 -0300,2021-01-06 17:22:06 -0300,None,NaN,None,None,NaN,NaN,None
226984,0.00352,HKQuantityTypeIdentifierDistanceWalkingRunning,Nike Run Club,km,2021-01-06 18:35:10 -0300,2021-01-06 17:22:06 -0300,2021-01-06 17:22:09 -0300,None,NaN,None,None,NaN,NaN,None

In [258]:
nike.drop(columns=['startDate', 'endDate', 'duration','unit', 'sourceName', 'durationUnit',\
                        'workoutActivityType', 'dateComponents','activeEnergyBurned',\
                        'activeEnergyBurnedGoal','activeEnergyBurnedUnit'], inplace=True)
nike.creationDate = pd.to_datetime(nike['creationDate']).dt.strftime('%Y-%m-%d')

nike.head(2)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/usr/local/lib/python3.8/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

          value                                            type creationDate
226983  0.00288  HKQuantityTypeIdentifierDistanceWalkingRunning   2021-01-06
226984  0.00352  HKQuantityTypeIdentifierDistanceWalkingRunning   2021-01-06

In [259]:
nike.type.value_counts()

HKQuantityTypeIdentifierDistanceWalkingRunning    61372
HKQuantityTypeIdentifierActiveEnergyBurned        61372
Name: type, dtype: int64

Traduzindo as colunas:

In [260]:
nike = nike.rename(columns={
    'value': 'valor',
    'type': 'tipo',
    'creationDate': 'data'
})
nike.head(2)

          valor                                            tipo        data
226983  0.00288  HKQuantityTypeIdentifierDistanceWalkingRunning  2021-01-06
226984  0.00352  HKQuantityTypeIdentifierDistanceWalkingRunning  2021-01-06

Para efeitos de análise, vamos ficar somente com as medições de calorias gastas

In [261]:
nike = nike[nike['tipo'].isin(['HKQuantityTypeIdentifierActiveEnergyBurned'])]
nike.tipo.value_counts()

HKQuantityTypeIdentifierActiveEnergyBurned    61372
Name: tipo, dtype: int64

In [262]:
nike.tipo = nike.tipo.map({
    'HKQuantityTypeIdentifierActiveEnergyBurned': 'Calorias Exercicio (kcal)'
})

nike.head(2)

/usr/local/lib/python3.8/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

        valor                       tipo        data
328088  0.185  Calorias Exercicio (kcal)  2021-01-06
328089   0.22  Calorias Exercicio (kcal)  2021-01-06

Vamos converter a coluna de valor para numérico para uma futura agregação

In [263]:
nike['valor'] = pd.to_numeric(nike['valor']).round(0)
nike = nike.groupby(['data','tipo']).agg({'valor': 'sum'})

<ipython-input-263-4ceb2dc21603>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nike['valor'] = pd.to_numeric(nike['valor']).round(0)

In [264]:
nike = nike.reset_index()
nike = nike.pivot(index='data',columns= 'tipo', values='valor')
nike = nike.reset_index()
nike.tail(4)

tipo        data  Calorias Exercicio (kcal)
35    2022-07-05                      293.0
36    2022-07-06                      433.0
37    2022-07-16                      151.0
38    2022-08-21                      418.0

In [265]:
nike.head(40)

tipo        data  Calorias Exercicio (kcal)
0     2021-01-06                      110.0
1     2021-01-07                       95.0
2     2021-01-08                      197.0
3     2021-01-09                       45.0
4     2021-01-29                       67.0
5     2021-02-01                       91.0
6     2021-02-02                       22.0
7     2021-10-06                      185.0
8     2021-10-07                      143.0
9     2021-10-08                      156.0
10    2021-10-11                      197.0
11    2021-10-12                      151.0
12    2021-10-13                      206.0
13    2021-10-14                       72.0
14    2021-10-15                       68.0
15    2021-10-19                      149.0
16    2021-10-27                      150.0
17    2021-11-03                      171.0
18    2021-11-04                      100.0
19    2021-11-05                      191.0
20    2021-11-07                      220.0
21    2021-11-08                      182.0
22    2021-11-10                      230.0
23    2021-11-22                      177.0
24    2021-11-23                      224.0
25    2021-11-24                      161.0
26    2021-12-12                      309.0
27    2021-12-25                      157.0
28    2022-01-01                       43.0
29    2022-01-08                      215.0
30    2022-01-20                       70.0
31    2022-01-23                      114.0
32    2022-04-08                       17.0
33    2022-06-19                      288.0
34    2022-07-03                      478.0
35    2022-07-05                      293.0
36    2022-07-06                      433.0
37    2022-07-16                      151.0
38    2022-08-21                      418.0

Para que não haja dupla inserção de dados ou uma majoração excessivas das calorias gastas, vamos filtrar as entradas do Nike Run nas datas que estão no período do projeto até a entrada da Xiaomi Smart Band 7 Pro.

In [266]:
nike['data'] = pd.to_datetime(nike['data'])

In [267]:
inicio = '2021-10-25'
fim = '2022-08-01'

In [268]:
nike = nike.loc[(nike['data'] >= inicio) & (nike['data'] <= fim)]
nike.reset_index()

tipo  index       data  Calorias Exercicio (kcal)
0        16 2021-10-27                      150.0
1        17 2021-11-03                      171.0
2        18 2021-11-04                      100.0
3        19 2021-11-05                      191.0
4        20 2021-11-07                      220.0
5        21 2021-11-08                      182.0
6        22 2021-11-10                      230.0
7        23 2021-11-22                      177.0
8        24 2021-11-23                      224.0
9        25 2021-11-24                      161.0
10       26 2021-12-12                      309.0
11       27 2021-12-25                      157.0
12       28 2022-01-01                       43.0
13       29 2022-01-08                      215.0
14       30 2022-01-20                       70.0
15       31 2022-01-23                      114.0
16       32 2022-04-08                       17.0
17       33 2022-06-19                      288.0
18       34 2022-07-03                      478.0
19       35 2022-07-05                      293.0
20       36 2022-07-06                      433.0
21       37 2022-07-16                      151.0

In [269]:
nike.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22 entries, 16 to 37
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   data                       22 non-null     datetime64[ns]
 1   Calorias Exercicio (kcal)  22 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 528.0 bytes

In [270]:
nike

tipo       data  Calorias Exercicio (kcal)
16   2021-10-27                      150.0
17   2021-11-03                      171.0
18   2021-11-04                      100.0
19   2021-11-05                      191.0
20   2021-11-07                      220.0
21   2021-11-08                      182.0
22   2021-11-10                      230.0
23   2021-11-22                      177.0
24   2021-11-23                      224.0
25   2021-11-24                      161.0
26   2021-12-12                      309.0
27   2021-12-25                      157.0
28   2022-01-01                       43.0
29   2022-01-08                      215.0
30   2022-01-20                       70.0
31   2022-01-23                      114.0
32   2022-04-08                       17.0
33   2022-06-19                      288.0
34   2022-07-03                      478.0
35   2022-07-05                      293.0
36   2022-07-06                      433.0
37   2022-07-16                      151.0

###2.6. Controle de Peso

Antes da balança de bioimpedância, o controle de peso era feito com uma balança simples. Apesar disso, a coleta de dados seguia a mesma, ao acordar e com as necessidades feitas. Os dados então eram anotados em uma planilha.

In [271]:
controle = pd.read_csv('/content/drive/MyDrive/Fitness/Controle de Peso.csv')

In [272]:
controle.head(2)

,Data,Dia da Semana,Peso(Kg),Variação (Kg),Variação %,Academia,Treino (Km),Bebida Alcoolica
0,2021-10-25,segunda-feira,"91,30",NaN,NaN,NaN,NaN,NaN
1,2021-10-26,terça-feira,"90,40","-0,90","-0,99%",NaN,NaN,NaN

Eliminando colunas que não serão úteis para a análise

In [273]:
controle.drop(columns=['Variação %','Variação (Kg)', 'Academia', 'Treino (Km)', 'Bebida Alcoolica', 'Dia da Semana'], inplace=True)
controle.head(2)

         Data Peso(Kg)
0  2021-10-25    91,30
1  2021-10-26    90,40

Convertendo coluna data para formato 'datetime' e Peso para 'numeric':

In [274]:
controle = controle.rename(columns={'Data':'data'})

In [275]:
controle['data'] = pd.to_datetime(controle['data'])
controle = controle.rename(columns={'Peso(Kg)':'Peso (kg)'})
controle['Peso (kg)'] = controle['Peso (kg)'].str.replace(',', '.')
controle['Peso (kg)'] = pd.to_numeric(controle['Peso (kg)'])

In [276]:
controle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135 entries, 0 to 134
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   data       135 non-null    datetime64[ns]
 1   Peso (kg)  135 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 2.2 KB

Para evitar dupla inserção da variável Peso, vamos filtrar somente para o período anterior à aquisição da balança de bioimpedância. Como a primeira entrada do DataFrame Fitdays é do dia 28/11/2021, vamos pegar somente o período de 25/10/2021 a 27/10/2021.

In [277]:
data_inicio = '2021-10-25'
data_fim = '2021-11-27'

In [278]:
controle = controle.loc[(controle['data'] >= data_inicio) & (controle['data'] <= data_fim)]

In [279]:
controle

         data  Peso (kg)
0  2021-10-25      91.30
1  2021-10-26      90.40
2  2021-10-27      89.90
3  2021-10-28      89.50
4  2021-10-29      89.20
5  2021-10-30      88.50
6  2021-10-31      89.80
7  2021-11-01      89.70
8  2021-11-02      90.20
9  2021-11-03      88.40
10 2021-11-04      87.90
11 2021-11-05      88.30
12 2021-11-06      88.90
13 2021-11-07      90.00
14 2021-11-08      88.50
15 2021-11-09      88.25
16 2021-11-10      88.70
17 2021-11-11      88.10
18 2021-11-12      88.10
19 2021-11-13      87.60
20 2021-11-14      86.70
21 2021-11-15      88.30
22 2021-11-16      88.30
23 2021-11-17      88.30
24 2021-11-18      88.30
25 2021-11-19      88.30
26 2021-11-20      88.30
27 2021-11-21      88.00
28 2021-11-22      87.80
29 2021-11-23      87.00
30 2021-11-24      86.40
31 2021-11-25      86.10
32 2021-11-26      86.10
33 2021-11-27      86.10

## 3. Concatenação dos DataFrames

Antes que a concatenação possa ser feita, vamos confirmar se todas as colunas 'data' dos dataframes estão em formato 'datetime'

In [280]:
myfitnesspal.info()
mifitness.info()
fitdays.info()
zepplife.info()
nike.info()
controle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190 entries, 0 to 189
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   data                        190 non-null    object
 1   Calorias Consumidas (kcal)  190 non-null    float64
 2   Carboidratos (g)            190 non-null    float64
 3   Gorduras (g)                190 non-null    float64
 4   Proteinas (g)               190 non-null    float64
dtypes: float64(4), object(1)
memory usage: 7.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143 entries, 0 to 142
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   data                    143 non-null    object
 1   Calorias Gastas (kcal)  142 non-null    float64
 2   Passos Dados            143 non-null    float64
dtypes: float64(2), object(1)
memory usage: 3.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386 entries, 0 to 385
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   data              386 non-null    datetime64[ns]
 1   %Gordura          385 non-null    float64
 2   Massa Magra (kg)  385 non-null    float64
 3   Peso (kg)         386 non-null    float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 12.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   data              1 non-null      datetime64[ns]
 1   %Gordura          1 non-null      float64
 2   Massa Magra (kg)  1 non-null      float64
 3   Peso (kg)         1 non-null      float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 160.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 22 entries, 16 to 37
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   data                       22 non-null     datetime64[ns]
 1   Calorias Exercicio (kcal)  22 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 528.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 34 entries, 0 to 33
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   data       34 non-null     datetime64[ns]
 1   Peso (kg)  34 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 816.0 bytes

In [291]:
dataframes = [zepplife, fitdays, controle, myfitnesspal, mifitness, nike]

In [302]:
for dataframe in dataframes:
  dataframe['data'] = dataframe['data'].astype('datetime64[ns]')
  dataframe = dataframe.sort_values(by='data')

myfitnesspal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190 entries, 0 to 189
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   data                        190 non-null    datetime64[ns]
 1   Calorias Consumidas (kcal)  190 non-null    float64
 2   Carboidratos (g)            190 non-null    float64
 3   Gorduras (g)                190 non-null    float64
 4   Proteinas (g)               190 non-null    float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 7.5 KB

In [303]:
dataset = dataframes[0]
for i in range(1, len(dataframes)):
  dataset = pd.merge(dataset, dataframes[i], on='data', how='outer')

dataset.sort_values(by='data', ascending=True)

,data,%Gordura_x,Massa Magra (kg)_x,Peso (kg)_x,%Gordura_y,Massa Magra (kg)_y,Peso (kg)_y,Peso (kg),Calorias Consumidas (kcal),Carboidratos (g),Gorduras (g),Proteinas (g),Calorias Gastas (kcal),Passos Dados,Calorias Exercicio (kcal)
387,2021-10-25,NaN,NaN,NaN,NaN,NaN,NaN,91.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
388,2021-10-26,NaN,NaN,NaN,NaN,NaN,NaN,90.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389,2021-10-27,NaN,NaN,NaN,NaN,NaN,NaN,89.9,NaN,NaN,NaN,NaN,NaN,NaN,150.0
390,2021-10-28,NaN,NaN,NaN,NaN,NaN,NaN,89.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
391,2021-10-29,NaN,NaN,NaN,NaN,NaN,NaN,89.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,2022-12-31,NaN,NaN,NaN,16.8,57.6,76.6,NaN,3285.0,281.0,69.0,162.0,1110.0,14845.0,NaN
384,2023-01-01,NaN,NaN,NaN,16.6,57.7,76.5,NaN,2246.0,187.0,77.0,189.0,1035.0,15111.0,NaN
385,2023-01-02,NaN,NaN,NaN,16.3,57.5,76.0,NaN,2259.0,176.0,79.0,201.0,739.0,13986.0,NaN
386,2023-01-03,NaN,NaN,NaN,16.5,57.3,75.9,NaN,3343.0,268.0,101.0,202.0,1216.0,17754.0,NaN
0,2023-01-04,16.1,58.8,76.4,NaN,NaN,NaN,NaN,468.0,30.0,15.0,50.0,NaN,36.0,NaN

In [305]:
columns = ['Peso (kg)', '%Gordura', 'Massa Magra (kg)']

In [306]:
columns = ['Peso (kg)', '%Gordura', 'Massa Magra (kg)']

for col in columns:
  dataset[f"{col}_x"].fillna(dataset[f"{col}_y"], inplace=True)

In [307]:
dataset.head()

,data,%Gordura_x,Massa Magra (kg)_x,Peso (kg)_x,%Gordura_y,Massa Magra (kg)_y,Peso (kg)_y,Peso (kg),Calorias Consumidas (kcal),Carboidratos (g),Gorduras (g),Proteinas (g),Calorias Gastas (kcal),Passos Dados,Calorias Exercicio (kcal)
0,2023-01-04,16.1,58.8,76.4,NaN,NaN,NaN,NaN,468.0,30.0,15.0,50.0,NaN,36.0,NaN
1,2021-11-29,20.2,60.9,85.0,20.2,60.9,85.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-11-30,20.4,60.8,84.9,20.4,60.8,84.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-12-01,20.6,61.0,85.4,20.6,61.0,85.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-12-02,20.5,60.8,85.1,20.5,60.8,85.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [308]:
dataset['Peso (kg)_x'].fillna(dataset['Peso (kg)'], inplace=True)

In [309]:
dataset['Peso (kg)_x']

0      76.4
1      85.0
2      84.9
3      85.4
4      85.1
       ...
417    86.4
418    86.1
419    86.1
420    86.1
421     NaN
Name: Peso (kg)_x, Length: 422, dtype: float64

In [310]:
dataset.drop(columns=['Peso (kg)_y', 'Massa Magra (kg)_y','%Gordura_y', 'Peso (kg)_y','Peso (kg)'], inplace=True)

In [311]:
dataset = dataset.rename(columns={
    'Peso (kg)_x': 'Peso (kg)',
    '%Gordura_x': '%Gordura',
    'Massa Magra (kg)_x': 'Massa Magra (kg)'
})

In [312]:
dataset = dataset.reset_index()
dataset.drop(columns='index', inplace=True)

In [313]:
dataset = dataset.sort_values(by='data', ascending=True)

In [314]:
dataset

,data,%Gordura,Massa Magra (kg),Peso (kg),Calorias Consumidas (kcal),Carboidratos (g),Gorduras (g),Proteinas (g),Calorias Gastas (kcal),Passos Dados,Calorias Exercicio (kcal)
387,2021-10-25,NaN,NaN,91.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
388,2021-10-26,NaN,NaN,90.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389,2021-10-27,NaN,NaN,89.9,NaN,NaN,NaN,NaN,NaN,NaN,150.0
390,2021-10-28,NaN,NaN,89.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
391,2021-10-29,NaN,NaN,89.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
383,2022-12-31,16.8,57.6,76.6,3285.0,281.0,69.0,162.0,1110.0,14845.0,NaN
384,2023-01-01,16.6,57.7,76.5,2246.0,187.0,77.0,189.0,1035.0,15111.0,NaN
385,2023-01-02,16.3,57.5,76.0,2259.0,176.0,79.0,201.0,739.0,13986.0,NaN
386,2023-01-03,16.5,57.3,75.9,3343.0,268.0,101.0,202.0,1216.0,17754.0,NaN
0,2023-01-04,16.1,58.8,76.4,468.0,30.0,15.0,50.0,NaN,36.0,NaN

In [315]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 422 entries, 387 to 0
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   data                        422 non-null    datetime64[ns]
 1   %Gordura                    386 non-null    float64
 2   Massa Magra (kg)            386 non-null    float64
 3   Peso (kg)                   421 non-null    float64
 4   Calorias Consumidas (kcal)  190 non-null    float64
 5   Carboidratos (g)            190 non-null    float64
 6   Gorduras (g)                190 non-null    float64
 7   Proteinas (g)               190 non-null    float64
 8   Calorias Gastas (kcal)      142 non-null    float64
 9   Passos Dados                143 non-null    float64
 10  Calorias Exercicio (kcal)   22 non-null     float64
dtypes: datetime64[ns](1), float64(10)
memory usage: 39.6 KB

##4. Exportação

Com o dataset finalizado, vamos exportá-lo em formato .csv para usos futuros.

In [316]:
dataset.to_csv('/content/drive/MyDrive/Fitness/dataset_fitness.csv', index=True, mode='w')