<a href="https://colab.research.google.com/github/erico-bachour/Fitness_Project/blob/main/Fitness_Project_1_Tratamento_dos_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Fitness Project - Erico Bachour**

## Visualização e Tratamento dos Dados

Para entender melhor a jornada, leia o README em minha página no GitHub (github.com/erico-bachour).

Nesse notebook, o objetivo será importar a base de dados exportada pelo applicativo Health, visualizá-la e tratá-la de maneira a formar uma nova base de dados. Assim, poderemos realizar visualizações e quem sabe regressões ou testar hipóteses a partir dos dados consolidados.

Além do aplicativo Health, usaremos também os dados de uma planilha de controle de peso.

##1. Visualização primária

Importando a base de dados e as bibliotecas essenciais para o tratamento da mesma.

In [2]:
import pandas as pd

In [3]:
!unzip -o '/content/drive/MyDrive/Fitness/export.zip' -d ./

Archive:  /content/drive/MyDrive/Fitness/export.zip
  inflating: ./apple_health_export/export.xml
  inflating: ./apple_health_export/export_cda.xml

In [4]:
path = 'apple_health_export/export.xml'

In [5]:
df = pd.read_xml(path)

Vamos ter uma primeira visualização da base de dados:

In [6]:
df.head()

,value,HKCharacteristicTypeIdentifierDateOfBirth,HKCharacteristicTypeIdentifierBiologicalSex,HKCharacteristicTypeIdentifierBloodType,HKCharacteristicTypeIdentifierFitzpatrickSkinType,HKCharacteristicTypeIdentifierCardioFitnessMedicationsUse,type,sourceName,sourceVersion,unit,...,dateComponents,activeEnergyBurned,activeEnergyBurnedGoal,activeEnergyBurnedUnit,appleMoveTime,appleMoveTimeGoal,appleExerciseTime,appleExerciseTimeGoal,appleStandHours,appleStandHoursGoal
0,2022-12-08 19:21:29 -0300,None,None,None,None,None,None,None,None,None,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
1,None,1990-11-12,HKBiologicalSexMale,HKBloodTypeNotSet,HKFitzpatrickSkinTypeNotSet,None,None,None,None,None,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
2,28.2,None,None,None,None,None,HKQuantityTypeIdentifierBodyMassIndex,Fitdays,1,count,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
3,28.6,None,None,None,None,None,HKQuantityTypeIdentifierBodyMassIndex,Fitdays,1,count,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
4,28.1,None,None,None,None,None,HKQuantityTypeIdentifierBodyMassIndex,Fitdays,1,count,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN

Resumo das colunas:

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 455191 entries, 0 to 455190
Data columns (total 30 columns):
 #   Column                                                     Non-Null Count   Dtype
---  ------                                                     --------------   -----
 0   value                                                      454821 non-null  object
 1   HKCharacteristicTypeIdentifierDateOfBirth                  1 non-null       object
 2   HKCharacteristicTypeIdentifierBiologicalSex                1 non-null       object
 3   HKCharacteristicTypeIdentifierBloodType                    1 non-null       object
 4   HKCharacteristicTypeIdentifierFitzpatrickSkinType          1 non-null       object
 5   HKCharacteristicTypeIdentifierCardioFitnessMedicationsUse  1 non-null       object
 6   type                                                       454820 non-null  object
 7   sourceName                                                 455067 non-null  object
 8   sourceVersion                                              454826 non-null  object
 9   unit                                                       450503 non-null  object
 10  creationDate                                               455067 non-null  object
 11  startDate                                                  455067 non-null  object
 12  endDate                                                    455067 non-null  object
 13  device                                                     234102 non-null  object
 14  MetadataEntry                                              0 non-null       float64
 15  workoutActivityType                                        247 non-null     object
 16  duration                                                   247 non-null     float64
 17  durationUnit                                               247 non-null     object
 18  WorkoutEvent                                               0 non-null       float64
 19  WorkoutStatistics                                          0 non-null       float64
 20  dateComponents                                             122 non-null     object
 21  activeEnergyBurned                                         122 non-null     float64
 22  activeEnergyBurnedGoal                                     122 non-null     float64
 23  activeEnergyBurnedUnit                                     122 non-null     object
 24  appleMoveTime                                              122 non-null     float64
 25  appleMoveTimeGoal                                          122 non-null     float64
 26  appleExerciseTime                                          122 non-null     float64
 27  appleExerciseTimeGoal                                      122 non-null     float64
 28  appleStandHours                                            122 non-null     float64
 29  appleStandHoursGoal                                        122 non-null     float64
dtypes: float64(12), object(18)
memory usage: 104.2+ MB

Excluindo colunas vazias e/ou que não serão úteis para a análise.

In [8]:
df.drop(columns = ['HKCharacteristicTypeIdentifierDateOfBirth',
       'HKCharacteristicTypeIdentifierBiologicalSex',
       'HKCharacteristicTypeIdentifierBloodType',
       'HKCharacteristicTypeIdentifierFitzpatrickSkinType', 'appleMoveTime', 'appleMoveTimeGoal',
       'appleExerciseTime', 'appleExerciseTimeGoal', 'appleStandHours',
       'appleStandHoursGoal', 'MetadataEntry', 'WorkoutEvent', 'WorkoutStatistics', 'HKCharacteristicTypeIdentifierCardioFitnessMedicationsUse', 'sourceVersion', 'device' ], inplace=True)

In [9]:
df.head()

,value,type,sourceName,unit,creationDate,startDate,endDate,workoutActivityType,duration,durationUnit,dateComponents,activeEnergyBurned,activeEnergyBurnedGoal,activeEnergyBurnedUnit
0,2022-12-08 19:21:29 -0300,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,None
1,None,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,None
2,28.2,HKQuantityTypeIdentifierBodyMassIndex,Fitdays,count,2021-11-28 13:18:04 -0300,2021-11-28 13:18:01 -0300,2021-11-28 13:18:01 -0300,None,NaN,None,None,NaN,NaN,None
3,28.6,HKQuantityTypeIdentifierBodyMassIndex,Fitdays,count,2021-11-28 22:07:32 -0300,2021-11-28 22:07:29 -0300,2021-11-28 22:07:29 -0300,None,NaN,None,None,NaN,NaN,None
4,28.1,HKQuantityTypeIdentifierBodyMassIndex,Fitdays,count,2021-11-29 08:18:57 -0300,2021-11-29 08:18:54 -0300,2021-11-29 08:18:54 -0300,None,NaN,None,None,NaN,NaN,None

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 455191 entries, 0 to 455190
Data columns (total 14 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   value                   454821 non-null  object
 1   type                    454820 non-null  object
 2   sourceName              455067 non-null  object
 3   unit                    450503 non-null  object
 4   creationDate            455067 non-null  object
 5   startDate               455067 non-null  object
 6   endDate                 455067 non-null  object
 7   workoutActivityType     247 non-null     object
 8   duration                247 non-null     float64
 9   durationUnit            247 non-null     object
 10  dateComponents          122 non-null     object
 11  activeEnergyBurned      122 non-null     float64
 12  activeEnergyBurnedGoal  122 non-null     float64
 13  activeEnergyBurnedUnit  122 non-null     object
dtypes: float64(3), object(11)
memory usage: 48.6+ MB

In [11]:
df.unit.value_counts()

km           135706
Cal           85031
count         80056
count/min     76535
%             18233
cm            16145
km/hr         16144
dBASPL        10743
g              6240
mg             4680
kg              989
hr                1
Name: unit, dtype: int64

Descobrindo quais fontes de dados temos em nossa base de dados:

In [12]:
df.sourceName.value_counts()

iPhone           234323
Nike Run Club    122783
Mi Fitness        83266
MyFitnessPal      11855
Fitdays            1665
Clock              1169
Health                4
FitPro                2
Name: sourceName, dtype: int64

## 2. Separação e Tratamento

Para facilitar o tratamento dos dados, a metodologia escolhida será de particionar a base de dados de acordo com a fonte de cada entrada, tornando mais fácil a manipulação do dado.

Como os lançamentos são feitos individualmente por cada aplicativo, o que faremos será: agrupar por aplicativo, tratar os dataframes separadamente, pivotar as linhas em colunas e finalmente reagrupá-lo usando a data como agregador em um novo DataFrame.

### 2.1 My Fitness Pal (Food Tracker)

Como esse é o aplicativo de "food tracking", vamos excluir as colunas de atividade física. Além disso, a granularidade dos dados que queremos é diária, assim, vamos excluir as informações de hora da coluna 'creationDate'.

In [13]:
myfitnesspal = df.loc[df['sourceName'] == 'MyFitnessPal']

In [14]:
myfitnesspal.drop(columns=['startDate', 'endDate', 'duration','sourceName', 'durationUnit', 'dateComponents','activeEnergyBurned',\
                           'activeEnergyBurnedGoal','activeEnergyBurnedGoal','workoutActivityType', 'activeEnergyBurnedUnit'], inplace=True)
myfitnesspal.creationDate = pd.to_datetime(myfitnesspal['creationDate']).dt.strftime('%Y-%m-%d')

myfitnesspal.head()

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/usr/local/lib/python3.8/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

       value                              type unit creationDate
691  78.5001  HKQuantityTypeIdentifierBodyMass   kg   2022-06-27
693     78.3  HKQuantityTypeIdentifierBodyMass   kg   2022-06-28
703  77.4999  HKQuantityTypeIdentifierBodyMass   kg   2022-07-05
720  80.0001  HKQuantityTypeIdentifierBodyMass   kg   2022-07-20
724  78.7999  HKQuantityTypeIdentifierBodyMass   kg   2022-07-22

In [15]:
myfitnesspal = myfitnesspal.rename(columns={
    'value': 'valor',
    'type': 'tipo',
    'creationDate': 'data',
    'unit': 'unidade' 
})
myfitnesspal.head()

       valor                              tipo unidade        data
691  78.5001  HKQuantityTypeIdentifierBodyMass      kg  2022-06-27
693     78.3  HKQuantityTypeIdentifierBodyMass      kg  2022-06-28
703  77.4999  HKQuantityTypeIdentifierBodyMass      kg  2022-07-05
720  80.0001  HKQuantityTypeIdentifierBodyMass      kg  2022-07-20
724  78.7999  HKQuantityTypeIdentifierBodyMass      kg  2022-07-22

Descobrindo os tipos de lançamentos que o My Fitness Pal faz:

In [16]:
myfitnesspal['tipo'].value_counts()

HKQuantityTypeIdentifierDietaryFatTotal              780
HKQuantityTypeIdentifierDietaryFatPolyunsaturated    780
HKQuantityTypeIdentifierDietaryFatMonounsaturated    780
HKQuantityTypeIdentifierDietaryFatSaturated          780
HKQuantityTypeIdentifierDietaryCholesterol           780
HKQuantityTypeIdentifierDietarySodium                780
HKQuantityTypeIdentifierDietaryCarbohydrates         780
HKQuantityTypeIdentifierDietaryFiber                 780
HKQuantityTypeIdentifierDietarySugar                 780
HKQuantityTypeIdentifierDietaryEnergyConsumed        780
HKQuantityTypeIdentifierDietaryProtein               780
HKQuantityTypeIdentifierDietaryVitaminC              780
HKQuantityTypeIdentifierDietaryCalcium               780
HKQuantityTypeIdentifierDietaryIron                  780
HKQuantityTypeIdentifierDietaryPotassium             780
HKQuantityTypeIdentifierBodyMass                     155
Name: tipo, dtype: int64

Para efeitos de análise, vamos ficar com somente quatro elementos: Calorias, Proteínas, Carboidratos e Gorduras Totais.

Vamos substituir os nomes das entradas com nomes mais simples, traduzidos e com as devidas unidades especificadas.

Assim, podemos excluir a coluna 'unidade'.

In [17]:
myfitnesspal = myfitnesspal[myfitnesspal['tipo'].isin(['HKQuantityTypeIdentifierDietaryEnergyConsumed', 'HKQuantityTypeIdentifierDietaryFatTotal',\
                                                       'HKQuantityTypeIdentifierDietaryCarbohydrates', 'HKQuantityTypeIdentifierDietaryProtein'])]
myfitnesspal.tipo.value_counts()

HKQuantityTypeIdentifierDietaryFatTotal          780
HKQuantityTypeIdentifierDietaryCarbohydrates     780
HKQuantityTypeIdentifierDietaryEnergyConsumed    780
HKQuantityTypeIdentifierDietaryProtein           780
Name: tipo, dtype: int64

In [18]:
myfitnesspal.tipo = myfitnesspal.tipo.map({
    'HKQuantityTypeIdentifierDietaryEnergyConsumed': 'Calorias Consumidas (kcal)',
    'HKQuantityTypeIdentifierDietaryFatTotal': 'Gorduras (g)',
    'HKQuantityTypeIdentifierDietaryCarbohydrates': 'Carboidratos (g)',
    'HKQuantityTypeIdentifierDietaryProtein': 'Proteinas (g)' 
})

myfitnesspal.drop(columns='unidade', inplace=True)

myfitnesspal.head()

/usr/local/lib/python3.8/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

          valor          tipo        data
377934        0  Gorduras (g)  2022-06-27
377935  37.4399  Gorduras (g)  2022-06-27
377936        0  Gorduras (g)  2022-06-27
377937      7.4  Gorduras (g)  2022-06-27
377938  30.9899  Gorduras (g)  2022-06-28

Para que possamos agregar os valores diários, vamos tratar a coluna 'valor' para que eles possam ser somados.

In [19]:
myfitnesspal['valor'] = pd.to_numeric(myfitnesspal['valor']).round(0)
myfitnesspal = myfitnesspal.groupby(['data','tipo']).agg({'valor': 'sum'})
myfitnesspal.tail(4)

<ipython-input-19-d8556d3105ea>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  myfitnesspal['valor'] = pd.to_numeric(myfitnesspal['valor']).round(0)

                                        valor
data       tipo
2022-12-08 Calorias Consumidas (kcal)  2043.0
           Carboidratos (g)             209.0
           Gorduras (g)                  82.0
           Proteinas (g)                128.0

Com o dataset agregado, vamos pivotar para deixa-lo pronto para a futura reunião.

In [20]:
myfitnesspal = myfitnesspal.reset_index()
myfitnesspal = myfitnesspal.pivot(index='data',columns= 'tipo', values='valor')
myfitnesspal = myfitnesspal.reset_index()
myfitnesspal.tail(4)

tipo,data,Calorias Consumidas (kcal),Carboidratos (g),Gorduras (g),Proteinas (g)
159,2022-12-05,2361.0,198.0,98.0,179.0
160,2022-12-06,3507.0,349.0,141.0,214.0
161,2022-12-07,2083.0,214.0,68.0,154.0
162,2022-12-08,2043.0,209.0,82.0,128.0

###2.2. Mi Fitness (Fitness Tracker)

In [21]:
mifitness = df.loc[df['sourceName'] == 'Mi Fitness']

In [22]:
mifitness.drop(columns=['startDate', 'endDate', 'duration','unit', 'sourceName', 'durationUnit',\
                        'workoutActivityType', 'dateComponents','activeEnergyBurned',\
                        'activeEnergyBurnedGoal','activeEnergyBurnedUnit'], inplace=True)
mifitness.creationDate = pd.to_datetime(mifitness['creationDate']).dt.strftime('%Y-%m-%d')

mifitness.head(2)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/usr/local/lib/python3.8/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

     value                               type creationDate
1038    61  HKQuantityTypeIdentifierHeartRate   2022-08-10
1039    64  HKQuantityTypeIdentifierHeartRate   2022-08-10

In [23]:
mifitness = mifitness.rename(columns={
    'value': 'valor',
    'type': 'tipo',
    'creationDate': 'data'
})
mifitness.head(2)

     valor                               tipo        data
1038    61  HKQuantityTypeIdentifierHeartRate  2022-08-10
1039    64  HKQuantityTypeIdentifierHeartRate  2022-08-10

In [24]:
mifitness['tipo'].value_counts()

HKQuantityTypeIdentifierHeartRate                 76532
HKQuantityTypeIdentifierActiveEnergyBurned         2576
HKQuantityTypeIdentifierStepCount                  1985
HKCategoryTypeIdentifierSleepAnalysis              1757
HKQuantityTypeIdentifierDistanceWalkingRunning      208
Name: tipo, dtype: int64

Para efeito de análise, vamos excluir os lançamentos de medição cardíaca, de sono e distância percorrida. Ficaremos somente com os de gasto energético e passos dados.

In [25]:
mifitness = mifitness[mifitness['tipo'].isin(['HKQuantityTypeIdentifierActiveEnergyBurned', 'HKQuantityTypeIdentifierStepCount',\
                                             'HKQuantityTypeIdentifierDistanceWalkingRunning'])]
mifitness.tipo.value_counts()

HKQuantityTypeIdentifierActiveEnergyBurned        2576
HKQuantityTypeIdentifierStepCount                 1985
HKQuantityTypeIdentifierDistanceWalkingRunning     208
Name: tipo, dtype: int64

In [26]:
mifitness.tipo = mifitness.tipo.map({
    'HKQuantityTypeIdentifierActiveEnergyBurned': 'Calorias Gastas (kcal)',
    'HKQuantityTypeIdentifierStepCount': 'Passos Dados'
})

mifitness.head()

/usr/local/lib/python3.8/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

       valor          tipo        data
148051  2985  Passos Dados  2022-08-10
148058   500  Passos Dados  2022-08-10
148063   559  Passos Dados  2022-08-10
148064  1462  Passos Dados  2022-08-10
148065    45  Passos Dados  2022-08-10

Com a limpeza feita, vamos partir para agrupar e pivotear o DataFrame.

In [27]:
mifitness['valor'] = pd.to_numeric(mifitness['valor']).round(0)
mifitness = mifitness.groupby(['data','tipo']).agg({'valor': 'sum'})

<ipython-input-27-327ef5d85ed1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mifitness['valor'] = pd.to_numeric(mifitness['valor']).round(0)

In [28]:
mifitness = mifitness.reset_index()
mifitness = mifitness.pivot(index='data',columns= 'tipo', values='valor')
mifitness = mifitness.reset_index()
mifitness.tail(4)

tipo        data  Calorias Gastas (kcal)  Passos Dados
112   2022-12-05                   564.0        9956.0
113   2022-12-06                   772.0       13019.0
114   2022-12-07                  1043.0       11831.0
115   2022-12-08                   719.0       10176.0

###2.3. Fitdays (Balança de Bioimpedância)

Como padrão, desde o início do projeto meu peso é auferido após acordar e fazer as necessidades. Assim, a variável "tempo" não é necessária, assim como outras colunas do DataFrame.

In [29]:
fitdays = df.loc[df['sourceName'] == 'Fitdays']

In [30]:
fitdays.head(2)

,value,type,sourceName,unit,creationDate,startDate,endDate,workoutActivityType,duration,durationUnit,dateComponents,activeEnergyBurned,activeEnergyBurnedGoal,activeEnergyBurnedUnit
2,28.2,HKQuantityTypeIdentifierBodyMassIndex,Fitdays,count,2021-11-28 13:18:04 -0300,2021-11-28 13:18:01 -0300,2021-11-28 13:18:01 -0300,None,NaN,None,None,NaN,NaN,None
3,28.6,HKQuantityTypeIdentifierBodyMassIndex,Fitdays,count,2021-11-28 22:07:32 -0300,2021-11-28 22:07:29 -0300,2021-11-28 22:07:29 -0300,None,NaN,None,None,NaN,NaN,None

In [31]:
fitdays.drop(columns=['startDate', 'endDate', 'duration','unit', 'sourceName', 'durationUnit',\
                        'workoutActivityType', 'dateComponents','activeEnergyBurned',\
                        'activeEnergyBurnedGoal','activeEnergyBurnedUnit'], inplace=True)
fitdays.creationDate = pd.to_datetime(fitdays['creationDate']).dt.strftime('%Y-%m-%d')

fitdays.head(2)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/usr/local/lib/python3.8/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

  value                                   type creationDate
2  28.2  HKQuantityTypeIdentifierBodyMassIndex   2021-11-28
3  28.6  HKQuantityTypeIdentifierBodyMassIndex   2021-11-28

In [32]:
fitdays = fitdays.rename(columns={
    'value': 'valor',
    'type': 'tipo',
    'creationDate': 'data'
})
fitdays.head(2)

  valor                                   tipo        data
2  28.2  HKQuantityTypeIdentifierBodyMassIndex  2021-11-28
3  28.6  HKQuantityTypeIdentifierBodyMassIndex  2021-11-28

In [33]:
fitdays.tipo.value_counts()

HKQuantityTypeIdentifierBodyMassIndex        437
HKQuantityTypeIdentifierBodyMass             437
HKQuantityTypeIdentifierBodyFatPercentage    394
HKQuantityTypeIdentifierLeanBodyMass         394
HKQuantityTypeIdentifierHeartRate              3
Name: tipo, dtype: int64

Vamos excluir algumas entradas irrelevantes como IMC (ou BMI, em inglês) e frequência cardíaca.

In [34]:
fitdays = fitdays[fitdays['tipo'].isin(['HKQuantityTypeIdentifierBodyMass', 'HKQuantityTypeIdentifierBodyFatPercentage',\
                                             'HKQuantityTypeIdentifierLeanBodyMass'])]
fitdays.tipo.value_counts()

HKQuantityTypeIdentifierBodyMass             437
HKQuantityTypeIdentifierBodyFatPercentage    394
HKQuantityTypeIdentifierLeanBodyMass         394
Name: tipo, dtype: int64

Renomeando as entradas

In [35]:
fitdays.tipo = fitdays.tipo.map({
    'HKQuantityTypeIdentifierBodyMass': 'Peso (kg)',
    'HKQuantityTypeIdentifierBodyFatPercentage': '%Gordura',
    'HKQuantityTypeIdentifierLeanBodyMass': 'Massa Magra (kg)'
})

fitdays.head(10)

    valor       tipo        data
442  85.5  Peso (kg)  2021-11-28
443  86.7  Peso (kg)  2021-11-28
444    85  Peso (kg)  2021-11-29
445  85.8  Peso (kg)  2021-11-29
446  84.8  Peso (kg)  2021-11-29
447  84.9  Peso (kg)  2021-11-30
448  85.4  Peso (kg)  2021-12-01
449  85.1  Peso (kg)  2021-12-02
450  84.8  Peso (kg)  2021-12-03
451  84.8  Peso (kg)  2021-12-04

Como temos algumas entradas repetidas vamos ficar somente com as primeiras medições

In [36]:
fitdays.drop_duplicates(subset=["data", "tipo"], keep='last', inplace=True)
fitdays.head()

    valor       tipo        data
443  86.7  Peso (kg)  2021-11-28
446  84.8  Peso (kg)  2021-11-29
447  84.9  Peso (kg)  2021-11-30
448  85.4  Peso (kg)  2021-12-01
449  85.1  Peso (kg)  2021-12-02

Com os tratamentos feitos, passemos para a parte de agregação e pivoteamento

In [37]:
fitdays['data'] = pd.to_datetime(fitdays['data'])
fitdays['valor'] = pd.to_numeric(fitdays['valor'])

In [38]:
fitdays.set_index('data')

              valor              tipo
data
2021-11-28  86.7000         Peso (kg)
2021-11-29  84.8000         Peso (kg)
2021-11-30  84.9000         Peso (kg)
2021-12-01  85.4000         Peso (kg)
2021-12-02  85.1000         Peso (kg)
...             ...               ...
2022-12-04  57.1532  Massa Magra (kg)
2022-12-05  57.4548  Massa Magra (kg)
2022-12-06  57.3804  Massa Magra (kg)
2022-12-07  57.5320  Massa Magra (kg)
2022-12-08  57.3806  Massa Magra (kg)

[1081 rows x 2 columns]

In [39]:
fitdays.groupby(['data','tipo']).agg({'valor':'sum'})

                               valor
data       tipo
2021-11-28 %Gordura           0.4060
           Massa Magra (kg)  51.4998
           Peso (kg)         86.7000
2021-11-29 %Gordura           0.2820
           Massa Magra (kg)  60.8864
...                              ...
2022-12-07 Massa Magra (kg)  57.5320
           Peso (kg)         76.0000
2022-12-08 %Gordura           0.2430
           Massa Magra (kg)  57.3806
           Peso (kg)         75.8000

[1081 rows x 1 columns]

In [40]:
fitdays = fitdays.reset_index()
fitdays = fitdays.pivot(index='data',columns= 'tipo', values='valor')
fitdays = fitdays.reset_index()
fitdays.tail(4)

tipo       data  %Gordura  Massa Magra (kg)  Peso (kg)
357  2022-12-05     0.246           57.4548       76.2
358  2022-12-06     0.244           57.3804       75.9
359  2022-12-07     0.243           57.5320       76.0
360  2022-12-08     0.243           57.3806       75.8

### 2.3.1. Ajuste nas colunas

Ajustando a coluna "%Gordura": além da multiplicação por 100, vamos corrigir uma falha do equipamento. Isso acontece pois ele so possui 4 eletrodos, ambos nos pés. Dessa forma, a corrente elétrica responsável pela medição acaba passando somente pelas pernas, dificultando uma medição mais precisa. 

Após uma avaliação visual e com ajuda de uma tabela de referência, vamos, arbitráriamente, reduzir uniformemente o valor de '%Gordura" para todas as entradas em 8%. 

No que se refere a peso, em comparação com outras balanças, o modelo atual não difere muito. Assim, não haverá nenhum ajuste na coluna "Peso (kg)".

Na coluna "Massa Magra (kg)" haverá somente um arredondamento.

In [41]:
fitdays['%Gordura'] = fitdays['%Gordura'] * 100 - 8
fitdays['Massa Magra (kg)'] = fitdays['Massa Magra (kg)'].round(1)

In [42]:
fitdays.head()

tipo       data  %Gordura  Massa Magra (kg)  Peso (kg)
0    2021-11-28      32.6              51.5       86.7
1    2021-11-29      20.2              60.9       84.8
2    2021-11-30      20.4              60.8       84.9
3    2021-12-01      20.6              61.0       85.4
4    2021-12-02      20.5              60.8       85.1

Analisando a primeira linha, os dados de '%gordura' e 'Massa Magra' estão discrepantes com o restante das entradas. Isso foi causado por uma falha na leitura por parte da balança por ser a primeira vez na qual estava me pesando.

In [43]:
fitdays.drop(index=0, axis=1, inplace=True)
fitdays = fitdays.reset_index()
fitdays.drop(columns='index', axis=0, inplace=True)
fitdays.head()

tipo       data  %Gordura  Massa Magra (kg)  Peso (kg)
0    2021-11-29      20.2              60.9       84.8
1    2021-11-30      20.4              60.8       84.9
2    2021-12-01      20.6              61.0       85.4
3    2021-12-02      20.5              60.8       85.1
4    2021-12-03      20.4              60.7       84.8

##2.4. Nike Run (Corridas)

Antes de adquirir a Xiaomi Smart Band 7 Pro, o registro dos aeróbicos era feito com o aplicativo Nike Run Club

In [44]:
nike = df.loc[df['sourceName'] == 'Nike Run Club']

In [45]:
nike.head(2)

,value,type,sourceName,unit,creationDate,startDate,endDate,workoutActivityType,duration,durationUnit,dateComponents,activeEnergyBurned,activeEnergyBurnedGoal,activeEnergyBurnedUnit
205345,0.00288,HKQuantityTypeIdentifierDistanceWalkingRunning,Nike Run Club,km,2021-01-06 18:35:10 -0300,2021-01-06 17:22:04 -0300,2021-01-06 17:22:06 -0300,None,NaN,None,None,NaN,NaN,None
205346,0.00352,HKQuantityTypeIdentifierDistanceWalkingRunning,Nike Run Club,km,2021-01-06 18:35:10 -0300,2021-01-06 17:22:06 -0300,2021-01-06 17:22:09 -0300,None,NaN,None,None,NaN,NaN,None

In [46]:
nike.drop(columns=['startDate', 'endDate', 'duration','unit', 'sourceName', 'durationUnit',\
                        'workoutActivityType', 'dateComponents','activeEnergyBurned',\
                        'activeEnergyBurnedGoal','activeEnergyBurnedUnit'], inplace=True)
nike.creationDate = pd.to_datetime(nike['creationDate']).dt.strftime('%Y-%m-%d')

nike.head(2)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/usr/local/lib/python3.8/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

          value                                            type creationDate
205345  0.00288  HKQuantityTypeIdentifierDistanceWalkingRunning   2021-01-06
205346  0.00352  HKQuantityTypeIdentifierDistanceWalkingRunning   2021-01-06

In [47]:
nike.type.value_counts()

HKQuantityTypeIdentifierDistanceWalkingRunning    61372
HKQuantityTypeIdentifierActiveEnergyBurned        61372
Name: type, dtype: int64

Traduzindo as colunas:

In [48]:
nike = nike.rename(columns={
    'value': 'valor',
    'type': 'tipo',
    'creationDate': 'data'
})
nike.head(2)

          valor                                            tipo        data
205345  0.00288  HKQuantityTypeIdentifierDistanceWalkingRunning  2021-01-06
205346  0.00352  HKQuantityTypeIdentifierDistanceWalkingRunning  2021-01-06

Para efeitos de análise, vamos ficar somente com as medições de calorias gastas

In [49]:
nike = nike[nike['tipo'].isin(['HKQuantityTypeIdentifierActiveEnergyBurned'])]
nike.tipo.value_counts()

HKQuantityTypeIdentifierActiveEnergyBurned    61372
Name: tipo, dtype: int64

In [50]:
nike.tipo = nike.tipo.map({
    'HKQuantityTypeIdentifierActiveEnergyBurned': 'Calorias Exercicio (kcal)'
})

nike.head(2)

        valor                       tipo        data
303052  0.185  Calorias Exercicio (kcal)  2021-01-06
303053   0.22  Calorias Exercicio (kcal)  2021-01-06

Vamos converter a coluna de valor para numérico para uma futura agregação

In [51]:
nike['valor'] = pd.to_numeric(nike['valor']).round(0)
nike = nike.groupby(['data','tipo']).agg({'valor': 'sum'})

In [52]:
nike = nike.reset_index()
nike = nike.pivot(index='data',columns= 'tipo', values='valor')
nike = nike.reset_index()
nike.tail(4)

tipo        data  Calorias Exercicio (kcal)
35    2022-07-05                      293.0
36    2022-07-06                      433.0
37    2022-07-16                      151.0
38    2022-08-21                      418.0

In [53]:
nike.head(40)

tipo        data  Calorias Exercicio (kcal)
0     2021-01-06                      110.0
1     2021-01-07                       95.0
2     2021-01-08                      197.0
3     2021-01-09                       45.0
4     2021-01-29                       67.0
5     2021-02-01                       91.0
6     2021-02-02                       22.0
7     2021-10-06                      185.0
8     2021-10-07                      143.0
9     2021-10-08                      156.0
10    2021-10-11                      197.0
11    2021-10-12                      151.0
12    2021-10-13                      206.0
13    2021-10-14                       72.0
14    2021-10-15                       68.0
15    2021-10-19                      149.0
16    2021-10-27                      150.0
17    2021-11-03                      171.0
18    2021-11-04                      100.0
19    2021-11-05                      191.0
20    2021-11-07                      220.0
21    2021-11-08                      182.0
22    2021-11-10                      230.0
23    2021-11-22                      177.0
24    2021-11-23                      224.0
25    2021-11-24                      161.0
26    2021-12-12                      309.0
27    2021-12-25                      157.0
28    2022-01-01                       43.0
29    2022-01-08                      215.0
30    2022-01-20                       70.0
31    2022-01-23                      114.0
32    2022-04-08                       17.0
33    2022-06-19                      288.0
34    2022-07-03                      478.0
35    2022-07-05                      293.0
36    2022-07-06                      433.0
37    2022-07-16                      151.0
38    2022-08-21                      418.0

Para que não haja dupla inserção de dados ou uma majoração excessivas das calorias gastas, vamos filtrar as entradas do Nike Run nas datas que estão no período do projeto até a entrada da Xiaomi Smart Band 7 Pro.

In [54]:
nike['data'] = pd.to_datetime(nike['data'])

In [55]:
inicio = '2021-10-25'
fim = '2022-08-01'

In [56]:
nike = nike.loc[(nike['data'] >= inicio) & (nike['data'] <= fim)]
nike.reset_index()

tipo  index       data  Calorias Exercicio (kcal)
0        16 2021-10-27                      150.0
1        17 2021-11-03                      171.0
2        18 2021-11-04                      100.0
3        19 2021-11-05                      191.0
4        20 2021-11-07                      220.0
5        21 2021-11-08                      182.0
6        22 2021-11-10                      230.0
7        23 2021-11-22                      177.0
8        24 2021-11-23                      224.0
9        25 2021-11-24                      161.0
10       26 2021-12-12                      309.0
11       27 2021-12-25                      157.0
12       28 2022-01-01                       43.0
13       29 2022-01-08                      215.0
14       30 2022-01-20                       70.0
15       31 2022-01-23                      114.0
16       32 2022-04-08                       17.0
17       33 2022-06-19                      288.0
18       34 2022-07-03                      478.0
19       35 2022-07-05                      293.0
20       36 2022-07-06                      433.0
21       37 2022-07-16                      151.0

In [57]:
nike.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22 entries, 16 to 37
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   data                       22 non-null     datetime64[ns]
 1   Calorias Exercicio (kcal)  22 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 528.0 bytes

In [58]:
nike

tipo       data  Calorias Exercicio (kcal)
16   2021-10-27                      150.0
17   2021-11-03                      171.0
18   2021-11-04                      100.0
19   2021-11-05                      191.0
20   2021-11-07                      220.0
21   2021-11-08                      182.0
22   2021-11-10                      230.0
23   2021-11-22                      177.0
24   2021-11-23                      224.0
25   2021-11-24                      161.0
26   2021-12-12                      309.0
27   2021-12-25                      157.0
28   2022-01-01                       43.0
29   2022-01-08                      215.0
30   2022-01-20                       70.0
31   2022-01-23                      114.0
32   2022-04-08                       17.0
33   2022-06-19                      288.0
34   2022-07-03                      478.0
35   2022-07-05                      293.0
36   2022-07-06                      433.0
37   2022-07-16                      151.0

##2.5. Controle de Peso

Antes da balança de bioimpedância, o controle de peso era feito com uma balança simples. Apesar disso, a coleta de dados seguia a mesma, ao acordar e com as necessidades feitas. Os dados então eram anotados em uma planilha.

In [59]:
controle = pd.read_csv('/content/drive/MyDrive/Fitness/Controle de Peso.csv')

In [60]:
controle.head(2)

,Data,Dia da Semana,Peso(Kg),Variação (Kg),Variação %,Academia,Treino (Km),Bebida Alcoolica
0,2021-10-25,segunda-feira,"91,30",NaN,NaN,NaN,NaN,NaN
1,2021-10-26,terça-feira,"90,40","-0,90","-0,99%",NaN,NaN,NaN

Eliminando colunas que não serão úteis para a análise

In [61]:
controle.drop(columns=['Variação %','Variação (Kg)', 'Academia', 'Treino (Km)', 'Bebida Alcoolica', 'Dia da Semana'], inplace=True)
controle.head(2)

         Data Peso(Kg)
0  2021-10-25    91,30
1  2021-10-26    90,40

Convertendo coluna data para formato 'datetime' e Peso para 'numeric':

In [62]:
controle = controle.rename(columns={'Data':'data'})

In [63]:
controle['data'] = pd.to_datetime(controle['data'])
controle = controle.rename(columns={'Peso(Kg)':'Peso (kg)'})
controle['Peso (kg)'] = controle['Peso (kg)'].str.replace(',', '.')
controle['Peso (kg)'] = pd.to_numeric(controle['Peso (kg)'])

In [64]:
controle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135 entries, 0 to 134
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   data       135 non-null    datetime64[ns]
 1   Peso (kg)  135 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 2.2 KB

Para evitar dupla inserção da variável Peso, vamos filtrar somente para o período anterior à aquisição da balança de bioimpedância. Como a primeira entrada do DataFrame Fitdays é do dia 28/11/2021, vamos pegar somente o período de 25/10/2021 a 27/10/2021.

In [65]:
data_inicio = '2021-10-25'
data_fim = '2021-11-27'

In [66]:
controle = controle.loc[(controle['data'] >= data_inicio) & (controle['data'] <= data_fim)]

In [67]:
controle

         data  Peso (kg)
0  2021-10-25      91.30
1  2021-10-26      90.40
2  2021-10-27      89.90
3  2021-10-28      89.50
4  2021-10-29      89.20
5  2021-10-30      88.50
6  2021-10-31      89.80
7  2021-11-01      89.70
8  2021-11-02      90.20
9  2021-11-03      88.40
10 2021-11-04      87.90
11 2021-11-05      88.30
12 2021-11-06      88.90
13 2021-11-07      90.00
14 2021-11-08      88.50
15 2021-11-09      88.25
16 2021-11-10      88.70
17 2021-11-11      88.10
18 2021-11-12      88.10
19 2021-11-13      87.60
20 2021-11-14      86.70
21 2021-11-15      88.30
22 2021-11-16      88.30
23 2021-11-17      88.30
24 2021-11-18      88.30
25 2021-11-19      88.30
26 2021-11-20      88.30
27 2021-11-21      88.00
28 2021-11-22      87.80
29 2021-11-23      87.00
30 2021-11-24      86.40
31 2021-11-25      86.10
32 2021-11-26      86.10
33 2021-11-27      86.10

##3. Concatenação dos DataFrames

Antes que a concatenação possa ser feita, vamos confirmar se todas as colunas 'data' dos dataframes estão em formato 'datetime'

In [68]:
myfitnesspal.info()
mifitness.info()
fitdays.info()
nike.info()
controle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163 entries, 0 to 162
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   data                        163 non-null    object
 1   Calorias Consumidas (kcal)  163 non-null    float64
 2   Carboidratos (g)            163 non-null    float64
 3   Gorduras (g)                163 non-null    float64
 4   Proteinas (g)               163 non-null    float64
dtypes: float64(4), object(1)
memory usage: 6.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116 entries, 0 to 115
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   data                    116 non-null    object
 1   Calorias Gastas (kcal)  116 non-null    float64
 2   Passos Dados            116 non-null    float64
dtypes: float64(2), object(1)
memory usage: 2.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   data              360 non-null    datetime64[ns]
 1   %Gordura          359 non-null    float64
 2   Massa Magra (kg)  359 non-null    float64
 3   Peso (kg)         360 non-null    float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 11.4 KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 22 entries, 16 to 37
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   data                       22 non-null     datetime64[ns]
 1   Calorias Exercicio (kcal)  22 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 528.0 bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 34 entries, 0 to 33
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   data       34 non-null     datetime64[ns]
 1   Peso (kg)  34 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 816.0 bytes

In [69]:
myfitnesspal['data'] = pd.to_datetime(myfitnesspal['data'])
mifitness['data'] = pd.to_datetime(mifitness['data'])
controle['data'] = pd.to_datetime(controle['data'])

In [70]:
myfitnesspal = myfitnesspal.sort_values(by='data')
mifitness = mifitness.sort_values(by='data')
fitdays = fitdays.sort_values(by='data')
nike = nike.sort_values(by='data')
controle = controle.sort_values(by='data')

In [71]:
dataset = pd.merge(myfitnesspal, mifitness, on='data', how='outer')
dataset = pd.merge(dataset, fitdays, on='data', how='outer')
dataset = pd.merge(dataset, nike, on='data',  how='outer')
dataset = pd.merge(dataset, controle, on='data', how='outer')
dataset.sort_values(by='data', ascending=True)

,data,Calorias Consumidas (kcal),Carboidratos (g),Gorduras (g),Proteinas (g),Calorias Gastas (kcal),Passos Dados,%Gordura,Massa Magra (kg),Peso (kg)_x,Calorias Exercicio (kcal),Peso (kg)_y
371,2021-10-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.3
372,2021-10-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.4
361,2021-10-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,150.0,89.9
373,2021-10-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.5
374,2021-10-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.2
...,...,...,...,...,...,...,...,...,...,...,...,...
158,2022-12-04,3045.0,269.0,134.0,184.0,NaN,NaN,16.2,57.2,75.4,NaN,NaN
159,2022-12-05,2361.0,198.0,98.0,179.0,564.0,9956.0,16.6,57.5,76.2,NaN,NaN
160,2022-12-06,3507.0,349.0,141.0,214.0,772.0,13019.0,16.4,57.4,75.9,NaN,NaN
161,2022-12-07,2083.0,214.0,68.0,154.0,1043.0,11831.0,16.3,57.5,76.0,NaN,NaN
162,2022-12-08,2043.0,209.0,82.0,128.0,719.0,10176.0,16.3,57.4,75.8,NaN,NaN

In [72]:
dataset['Peso (kg)_x'].fillna(dataset['Peso (kg)_y'], inplace=True)

In [73]:
dataset['Peso (kg)_x']

0      78.3
1      77.5
2      77.5
3      76.6
4      77.6
       ...
390    88.3
391    88.0
392    86.1
393    86.1
394    86.1
Name: Peso (kg)_x, Length: 395, dtype: float64

In [74]:
dataset.drop(columns='Peso (kg)_y', inplace=True)
dataset = dataset.rename(columns={'Peso (kg)_x': 'Peso (kg)'})

In [75]:
dataset = dataset.reset_index()
dataset.drop(columns='index', inplace=True)

In [76]:
dataset = dataset.sort_values(by='data', ascending=True)

In [77]:
dataset

,data,Calorias Consumidas (kcal),Carboidratos (g),Gorduras (g),Proteinas (g),Calorias Gastas (kcal),Passos Dados,%Gordura,Massa Magra (kg),Peso (kg),Calorias Exercicio (kcal)
371,2021-10-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.3,NaN
372,2021-10-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.4,NaN
361,2021-10-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.9,150.0
373,2021-10-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.5,NaN
374,2021-10-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.2,NaN
...,...,...,...,...,...,...,...,...,...,...,...
158,2022-12-04,3045.0,269.0,134.0,184.0,NaN,NaN,16.2,57.2,75.4,NaN
159,2022-12-05,2361.0,198.0,98.0,179.0,564.0,9956.0,16.6,57.5,76.2,NaN
160,2022-12-06,3507.0,349.0,141.0,214.0,772.0,13019.0,16.4,57.4,75.9,NaN
161,2022-12-07,2083.0,214.0,68.0,154.0,1043.0,11831.0,16.3,57.5,76.0,NaN
162,2022-12-08,2043.0,209.0,82.0,128.0,719.0,10176.0,16.3,57.4,75.8,NaN

In [78]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 395 entries, 371 to 162
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   data                        395 non-null    datetime64[ns]
 1   Calorias Consumidas (kcal)  163 non-null    float64
 2   Carboidratos (g)            163 non-null    float64
 3   Gorduras (g)                163 non-null    float64
 4   Proteinas (g)               163 non-null    float64
 5   Calorias Gastas (kcal)      116 non-null    float64
 6   Passos Dados                116 non-null    float64
 7   %Gordura                    359 non-null    float64
 8   Massa Magra (kg)            359 non-null    float64
 9   Peso (kg)                   394 non-null    float64
 10  Calorias Exercicio (kcal)   22 non-null     float64
dtypes: datetime64[ns](1), float64(10)
memory usage: 37.0 KB

##4. Exportação

Com o dataset finalizado, vamos exportá-lo em formato .csv para usos futuros.

In [79]:
dataset.to_csv('/content/drive/MyDrive/Fitness/dataset_fitness.csv', index=True, mode='w')